* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countdown-wrapper {
  max-width: 600px;
  margin: 60px auto;
  width: 100%;
  text-align: center;
  h2{
    margin-bottom: 40px;
    font-size: 50px;
  }
  input{
    max-width: 80px;
    height: 40px;
    text-align: center;
    padding:10px;
  }
}

.show-timer {
  display: flex;
  justify-content: center;

  >div {
    display: flex;
    font-size: 50px;
  }
}